@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Oswald", sans-serif;
  transition: 0.5s;
}

.responsive {
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

@media only screen and (max-width: 640px) {
  .responsive {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
